<div class="todo">
  <div class="header">
      <div class="b1">
          <input class="title" type="text" [(ngModel)]="toDo$.name" (blur)="change($event)">
    </div>
   </div>
   <div class="content">
    <div class="b2">
        Ends:<input class="finishDate" [(ngModel)]="toDo$.finishDate" (blur)="change($event)">
        <mat-divider></mat-divider>
    </div>
    <div class="b3">
     Importance:<input class="importance" [(ngModel)]="toDo$.importance" (blur)="change($event)">
     <mat-divider></mat-divider>
    </div>
    <div class="b4">
        Done:<input class="complete" [(ngModel)]="toDo$.isComplete" (blur)="change($event)">
        <mat-divider></mat-divider>
    </div>
    <div class="b5">
        For User:<input class="foruser" [(ngModel)]="toDo$.user_ID" (blur)="change($event)">
    </div>
  </div>
  <div class="delete">
    <mat-icon (click)="delete($event)">delete</mat-icon>
  </div>
</div>
