span {
  font-weight: bold;
  font-size:60px;
  font-family: 'Old Standard TT', serif;
  color:#334A5A;
}
h1 {
  font-weight:bold;
  font-size:60px;
  font-family: 'Old Standard TT', serif;
  color:#0C1824;
}
.b2 {
  padding:20px;
}
.title {
  text-align:center;
  margin-bottom:70px;
}
select {
  width:300px;
  padding:20px;
  border:None;
}
.create-form {
  margin-top:20px;
  text-align:center;
  font-family: 'Old Standard TT', serif;
}
.create-form input{
  height:40px;
  width:300px;
  margin-top:20px;
  border:none;
  outline:none;
  border-bottom:1px solid black;
}
.create-form input[type=text], .create-form input[type=password]{
  padding:10px;
  font-family: 'Old Standard TT', serif;
}
.create-form button {
  font-family: 'Old Standard TT', serif;
  margin-top:20px;
  width:300px;
  border:none;
  background-color:black;
  outline:none;
  color:white;
  padding:12px;
}
.create-form button:hover {
  background-color: #334A5A;
}
p {
  margin-top:20px;
}
