<div class="create-form">
  <form [formGroup]="messageForm" (ngSubmit)="createTodo($event)">
    <input formControlName="name" [(ngModel)]="toDo.Name" type="text" name="name" placeholder="Name.."><br>
    <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="submitted && messageForm.controls.name.errors.required" class="error">
        <p>&#8226; Field is required</p>
      </div>
    </div>
    <input formControlName="nameofp" [(ngModel)]="toDo.NameofPerson" type="text" name="nameofp" placeholder="Assign to person.."><br>
    <div *ngIf="submitted && messageForm.controls.nameofp.errors" class="error">
      <div *ngIf="submitted && messageForm.controls.nameofp.errors.required" class="error">
        <p>&#8226; Field is required</p>
      </div>
    </div>
    <input formControlName="desc" [(ngModel)]="toDo.ShortDescription" type="text" name="desc" placeholder="Short description"><br>
    <div *ngIf="submitted && messageForm.controls.desc.errors" class="error">
      <div *ngIf="submitted && messageForm.controls.desc.errors.required" class="error">
        <p>&#8226; Field is required</p>
      </div>
      <div *ngIf="submitted && messageForm.controls.desc.errors.maxLength" class="error">
        <p>&#8226; Max-length is 10</p>
      </div>
    </div>
    <input formControlName="enddate" [(ngModel)]="toDo.FinishDate" type="date" name="enddate" placeholder="End date.."><br>
    <div *ngIf="submitted && messageForm.controls.enddate.errors" class="error">
      <div *ngIf="submitted && messageForm.controls.enddate.errors.required" class="error">
        <p>&#8226; Field is required</p>
      </div>
    </div>
    <select formControlName="importance" [(ngModel)]="toDo.Importance" >
      <option *ngFor="let o of options" value="{{o.name}}">
        {{o.name}}
      </option>
    </select><br>
    <div *ngIf="submitted && messageForm.controls.importance.errors" class="error">
      <div *ngIf="submitted && messageForm.controls.importance.errors.required" class="error">
        <p>&#8226; Field is required</p>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
