@media screen and (min-width: 500px){
  .container-nav {
    display:flex;
  }
}
button {
  background-color: white;
  outline: none;
}
span {
  margin-left:5px;
}
.container-nav {
  position: relative;
}
.b1,.b2{
  margin:10px;
}
.b3 {
  margin-top:25px;
}
.micon {
  color:green;
}

@media  screen and (min-width: 500px) {
  .todo {
    display:flex;
  }
}
.todo {
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
  background-color:white;
  margin-top:15px;
  margin-left:5%;
  margin-right:5%;
  border-bottom:2px solid #ccc;
}

.b11 {
  text-decoration: underline#334A5A ;
  text-transform: uppercase;
  font-weight:bold;
  font-size:19px;
  font-family: 'Old Standard TT', serif;
  color:#0C1824;
}
input {
  border:none;
  outline: none;
 display: block;
  }
.delete {
  text-align:center;
}
.content {
  flex: 3;
}

.header {
  width:80px;
}
.Uneditable {
  border:none;
  background-color:transparent;
  text-decoration: line-through;
  opacity: 0;
}
.Editable {
  border:none;
}