<div class="container-nav">
  <div class="b1">
    <button mat-fab color="white" (click)="openDialog()"><mat-icon>add</mat-icon></button><span>Create</span>
  </div>
  <div class="b2">
    <button mat-fab color="white" (click)="toggle()"><mat-icon>filter_list</mat-icon></button><span>Current filter: <b>{{selected}}</b></span>
    <div class="filter-nav" *ngIf="IsVisible">
        <mat-form-field>
            <mat-select [(ngModel)]="selected" id="test">
              <mat-option value="Your Assignments" (click)="getitem()">Your Assignments</mat-option>
              <mat-option value="Not Assigned" (click)="getitem()">Not Assigned</mat-option>
              <mat-option value="Assigned" (click)="getitem()">Assigned</mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  </div>
</div>
<div class="todoitems" *ngFor="let todo of Todos">
  <div class="todo">
    <div class="header">
      <div class="b11">
        <p>{{todo.name}}</p>
      </div>
    </div>
    <div class="content">
      <div class="b2">
        Ends:<p>{{todo.finishDate}}</p>
        <mat-divider></mat-divider>
      </div>
      <div class="b3">
        Importance:<p>{{todo.importance}}</p>
        <mat-divider></mat-divider>
      </div>
      <div class="b4">
      Done:<p>{{todo.isComplete}}</p>
      <mat-divider></mat-divider>
      </div>
      <div class="b5">
      For User:<p>{{todo.user_ID}}</p>
      <mat-divider></mat-divider>
      </div>
    </div>
    <div class="Done">
      <mat-icon class="micon" (click)="TodoItemDone(event)">check</mat-icon>
    </div>
  </div>
</div>
