@media screen and (min-width: 500px) {
  .container-nav {
    display:flex;
  }
  .tool{
    display: flex;
  }
}
.container-nav {
  background-color:white;
  border-bottom:1px solid #334A5A;
}
.box {
  flex:3;
  margin-left:40px;
}
.box1{
  flex:1;
  text-align: right;
  padding-right:40px;
  padding-top:70px;
}
.box1 button {
  border:none;
  background-color:white;
  font-family:'Old Standard TT', serif;
  outline:none;
  color:#334A5A;
  font-size:19px;
}
.box1 button:hover{
  cursor: pointer;
}
.spanclass {
  font-weight: bold;
  font-size:45px;
  font-family: 'Old Standard TT', serif;
  color:#334A5A;
}
h3 {
  font-weight:bold;
  font-size:30px;
  font-family: 'Old Standard TT', serif;
  color:#0C1824;
}
.b2 {
  padding:20px;
}
.title {
  text-align:center;
  margin-bottom:70px;
}

button {
  background-color: white;
  outline: none;
}
span {
  margin-left:5px;
}
.container-nav {
  position: relative;
}
.b1 {
  margin-top:20px;
  margin-left:20px;
}
.b2 {
  margin-top:1px;
}
.spanclass1 {
  cursor: pointer;
  font-weight: bold;
  font-size:25px;
  font-family: 'Old Standard TT', serif;
  color:#334A5A;
  margin-left:25px;
}
