<div class="container-nav">
  <div class="box">
    <h1>Todo-<br><Span class="spanclass">App</Span></h1>
  </div>
  <div class="box1">
    <button>Logout</button>
  </div>
</div>
<mat-tab-group class="mattabgroup">
  <mat-tab label="Your Todoitems">
  <div class="todoitems" *ngFor="let todo of Todos">
  </div>
  <div class="viewitems">
<span class="spanclass1" matBadge="{{(this.Todos.length)}}" matBadgeOverlap="false" (click)="toggle1()">View Items</span>
<p>To update a file click on the field to update</p>
</div>
  <div class="toggleitems" *ngIf="IsVisible1">
    <app-todo-item [toDo$]="todo" *ngFor="let todo of this.Todos"></app-todo-item>
  </div>
</mat-tab>
<mat-tab label="All TodoItems">
<app-todo></app-todo>
</mat-tab>
</mat-tab-group>


